<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Resume Entries</title>
  </head>
  <body>
        <h4><%= @entry.job_title %></h4>
        <%= link_to 'Edit', edit_entry_path(@entry) %>
    <ul>
      <li>Start: <%= @entry.start_date %></li>
      <li>End: <%= @entry.end_date %></li>
      <p>Desc: <%= @entry.description %></p>
    </ul>
  </body>
</html>
