<h1><%= @resume.title %></h1>

<ol>
  <% @resume.entries.each do |e| %>

    <li><b><%=link_to e.job_title, e %></b></li>
    <ul>
      <li>Start: <%= e.start_date %> | End : <%= e.end_date %></li>
      <li><%= e.description %></li>
    </ul>

  <% end %>

</ol>
