<h1><%= @resume.title %></h1>
<ul>
  <% @resume.entries.each do |e| %>
    <li><b><%= e.job_title %></b></li>
    <li>Start: <%= e.start_date %> | End : <%= e.end_date %></li>
    <li><%= e.description %></li>
  <% end %>
</ul>
